.about{
    background-color: #071115;
    position: relative;
    height: 100vh;
    width: 100%;
}

.circle02{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}


.line-about{
    position: relative;
    width: 3px;
    height: 920px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}


.des-about{
    position: absolute;
    left: 216px;
    top: 17PX;

}

#abou-one{
    color: #DCFF03;
}
.abou02{
    color: #BA0AF8;
}
.abou01{
    top: 10px;
    color: #877373;

}

#abou-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}

.des-about > h4{
    color: white;
    font-family: Apple ,sans-serif;
    font-size: 20px;
}


#abo1 ,#abou2 ,#abou3 ,#abou4{
    color: #0DFF16;
}

.abou02:before{
    content: "01";
    position: absolute;
    right: 1080px;
}
.abou03:before{
    content: "02";
    position: absolute;
    right: 1080px;
}
.abou04:before{
    content: "03";
    position: absolute;
    right: 1080px;
}
.abou05:before{
    content: "04";
    position: absolute;
    right: 1080px;
}
.abou06:before{
    content: "05";
    position: absolute;
    right: 1080px;
}
.abou07:before{
    content: "06";
    position: absolute;
    right: 1080px;
}
.abou08:before{
    content: "07";
    position: absolute;
    right: 1080px;
}
.abou09:before{
    content: "08";
    position: absolute;
    right: 1080px;
}
.abou10:before{
    content: "09";
    position: absolute;
    right: 1080px;
}
.abou11:before{
    content: "10";
    position: absolute;
    right: 1080px;
}

.abou12:before{
    content: "11";
    position: absolute;
    right: 1080px;
}

.abou13:before{
    content: "12";
    position: absolute;
    right: 1080px;
}
.abou14:before{
    content: "13";
    position: absolute;
    right: 1080px;
}

.abou15:before{
    content: "14";
    position: absolute;
    right: 1080px;
}

.abou16:before{

    content: "15";
    position: absolute;
    right: 1080px;
}

.abou17:before{
    content: "16";
    position: absolute;
    right: 1080px;
}





/*------------media queries-----------*/


@media all and (max-width: 767px) {

    .circle02 {
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 63px;
        top: 24px;
    }
    .line-about {
        position: relative;
        width: 3px;
        height: 768px;
        background-color: #ff8800;
        left: 67px;
        top: 30px;
    }
    .des-about {
        position: absolute;
        left: 75px;
        top: 8PX;
    }

    .abou01{
        top: 10px;
        font-size: 10px;
        color: #877373;
    }

    #abou-title {
        font-family: Apple ,sans-serif;
        color: #d7d1d1;
        font-size: 12px;
    }

    .des-about > h4 {
        color: white;
        font-family: Apple ,sans-serif;
        font-size: 10px;
    }




    .abou02:before{
        content: "01";
        position: absolute;
        right: 312px;
    }
    .abou03:before{
        content: "02";
        position: absolute;
        right: 312px;
    }
    .abou04:before{
        content: "03";
        position: absolute;
        right: 312px;
    }
    .abou05:before{
        content: "04";
        position: absolute;
        right: 312px;
    }
    .abou06:before{
        content: "05";
        position: absolute;
        right: 312px;
    }
    .abou07:before{
        content: "06";
        position: absolute;
        right: 312px;
    }
    .abou08:before{
        content: "07";
        position: absolute;
        right: 312px;
    }
    .abou09:before{
        content: "08";
        position: absolute;
        right: 312px;
    }
    .abou10:before{
        content: "09";
        position: absolute;
        right: 312px;
    }
    .abou11:before{
        content: "10";
        position: absolute;
        right: 312px;
    }

    .abou12:before{
        content: "11";
        position: absolute;
        right: 312px;
    }

    .abou13:before{
        content: "12";
        position: absolute;
        right: 312px;
    }
    .abou14:before{
        content: "13";
        position: absolute;
        right: 312px;
    }

    .abou15:before{
        content: "14";
        position: absolute;
        right: 312px;
    }

    .abou16:before{

        content: "15";
        position: absolute;
        right: 312px;
    }

    .abou17:before{
        content: "16";
        position: absolute;
        right: 312px;
    }





}