/*
.contact{
    background-color: #07030c;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;

    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;!**!

}

.topic > span{
    color: #3d230a;
    font-size: 20px;
}
.topic{
    color: white;
    font-size: 45px;
    padding-right: 900px;
}
.contact > div{
    height: 100vh;
    width: 100%;
    flex-shrink: 1;
}

.contact >div:nth-child(1){
    background-color: #0a53be;

}
.contact >div:nth-child(2){
    background-color: #2bf62b;

}

.contact >div:nth-child(3){
    background-color: #f88708;

}

.contact >div:nth-child(4){
    background-color: #ff002e;

}
*/
