.contact{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #01151c, #05011e);
}

.circle06{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}

.line-cont{
    position: relative;
    width: 3px;
    height: 416px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}
.des-cont{
    position: relative;
    left: 204px;
    top: 5px;
}


.cont01{
    top: 10px;
    color: #877373;
}


#ser-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}
