.contact{
    width: 100%;
    height: 100vh;
    background-color: #071115;
}
.circle06{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}
.cont01{
    top: 10px;
    color: #877373;
}

#cont-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}

.line-cont{
    position: relative;
    width: 3px;
    height: 830px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}
.des-cont{
    position: relative;
    left: 220px;
    top: -847px;
}

.email {
    width: 135px;
    height: 135px;
    color: white;

}

.bxl-gmail:before {
    content: "\e906";
    font-size: 40px;
}

.bxs-phone-call:before{
    content: "\e906";
    font-size: 40px;
}
.bxl-whatsapp:before{
    content: "\e906";
    font-size: 40px;
}

.Phone {
    width: 135px;
    height: 135px;
    color: white;

}

.whatsapp {
    width: 135px;
    height: 135px;
    color: white;

}

.des-contact{
    position: relative;
    top: -700px;
    left: 310px;
}

.contact-form{
    position: absolute;
    top: 3px;
    left: 200px;
    height: 400px;
}

.first_row{
    position: absolute;
    top: 20px;
}


.name {
    border-radius: 20px;
    border: 2px solid #575755;
    font-size: 20px;
    background-color: #4b4b47;
    width: 700px;
    height: 55px;

}

.mail{
    border-radius: 20px;
    border: 2px solid #575755;
    font-size: 20px;
    background-color: #4b4b47;
    width: 700px;
    height: 55px;
}


.subject {
    border-radius: 20px;
    border: 2px solid #575755;
    font-size: 20px;
    background-color: #4b4b47;
    width: 700px;
    height: 55px;

}

#messageBody{
    border-radius: 20px;
    width: 800px;
    height: 200px;
    background-color: #c5c2c2;
}


@media all and (max-width: 767px){

    .circle06{
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 38px;
        top: 146px;
    }

    .line-cont {
        position: relative;
        width: 3px;
        height: 830px;
        background-color: #ff8800;
        left: 41px;
        top: 158px;
    }
}


/*
!*contact*!
.contact-row{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left{
    flex-basis: 50%;
}
.contact-right{
    flex-basis: 50%;
}

.contact-left p i{
    color: #AE514A;
    margin-right: 15px;
    font-size: 20px;
}
.contact-left .contact-a{
    margin-top: 40px;
}
.contact-left a{
    color: black;
}
.contact-left a i{
    color: #AE514A;
    margin-right: 15px;
    font-size: 20px;
    transition: ease .40s;
}
.contact-right form{
    margin-top: 40px;
    width: 100%;
}
.contact-right form p{
    margin-bottom: 15px;
}
.contact-right form span{
    color: #AE514A;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #eeeeee;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 14px;
    border-radius: 6px;
}
form textarea{
    height: 20vh;
}
.contact-btn{
    display: inline-block;
    color: white;
    background: #214471;
    font-size: 14px;
    padding: 2px 19px;
    font-weight: 500;
    line-height: 27px;
    border-radius: 30px;
    transition: ease .40s;
    cursor: pointer;
}
.contact-btn:hover{
    transform: scale(1.1);
    color: white;
    border: 2px solid #214471;
    box-shadow: #214471 1px 1px 10px 2px;
}
.contact-row a:hover i{
    transition: ease .40s;
    transform: scale(1.1);
    font-size: 30px;
}
.fab-container {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
    transition: bottom 250ms ease-out;
}
.fab-container {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
    transition: bottom 250ms ease-out;
}
.fab-btn {
    width: 60px;
    height: 60px;
    background: #127369;
    box-shadow: 0 0 0 0 #8AA6A3;
    animation: pulse-red 2s infinite;
}
.fab-icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
}
#optQuestion {
    display: none;
}
.fa-solid, .fas {
    font-weight: 900;
}
.fab-icon-holder i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    color: #fff;
}
@keyframes pulse-red {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 #8AA6A3;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 30px rgba(255,82,82,0);
    }
    100% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgba(255,82,82,0);
    }
}*/
