/*
.education{
    background-color: #07030c;
    position: relative;
    height: 100vh;
    width: 100%;
}
!*.resume-item{*!
!*    position: relative;*!
!*}*!

.resume-item >h4{
    color: #fff3cd;
    font-family: Apple ,sans-serif;
    font-size: 20px;
}
#zero{
    color: #7C6F6F;
}

#one{
    color: #DCFF03;
}

#two{
    color: #BA0AF8;
}

#three , #four ,#five{
    color: #0DFF16;
}


.Educate-art{
    position: absolute;
    left: 650px;
}

.olevel > h3 {
    color: #FD0606;
    font-size: 20px;

}

.olevel > h4 {
    position: absolute;
    color: #877373;
    left: 150px;
}

#space-line {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #c28534;
    left: 200px;
}

.it > h3 {
    color: #FD0606;
    font-size: 20px;
    padding-left: 10px;
}

.it > h4 {
    position: absolute;
    color: #877373;
    left: 150px;
}

#space-line1 {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #c28534;
    left: 200px;
    top: 50px;
}

.se {
    position: absolute;
    top: 250px;
}

.se > h3 {
    color: #FD0606;
    font-size: 20px;
    padding-left: 10px;

}

.se > h4 {
    position: absolute;
    color: #877373;
    left: 150px;
}

#space-line2 {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #c28534;
    left: 200px;
    top: 170px;
}

.se-dgree {
    position: absolute;
    top: 400px;
}

.se-dgree > h3 {
    color: #FD0606;
    font-size: 20px;
    padding-left: 80px;


}
.edu2:before{
    content: "01";
    position: absolute;
    left: 200px;

}


.edu3:before{
    content: "02";
    position: absolute;
    left: 200px;

}


.edu4:before{
    content: "03";
    position: absolute;
    left: 200px;

}

.edu5:before{
    content: "04";
    position: absolute;
    left: 200px;

}


.edu6:before{
    content: "05";
    position: absolute;
    left: 200px;

}


.edu7:before{
    content: "06";
    position: absolute;
    left: 200px;

}


.edu8:before{
    content: "07";
    position: absolute;
    left: 200px;

}


.line-servi {
    width: 5px;
    height: 350px;
    background-color: #c28534;
}
*/
