
.education{
    background-color: #071115;
    position: relative;
    height: 100vh;
    width: 100%;
}

.resume-item{
    position: absolute;
    top: 5px;
    left: 200px;
}


.resume-item > h5{
    color: rgba(93, 88, 88, 0.49);
}


.resume-item >h4{
    color: #fff3cd;
    font-family: Apple ,sans-serif;
    font-size: 20px;
}
#zero{
    color: #d7d1d1;
    font-size: 20px;
}

#one{
    color: #DCFF03;
}

#two{
    color: #BA0AF8;
}

#three , #four ,#five{
    color: #0DFF16;
}


.Educate-art{
    position: absolute;
    left: 650px;
}

.olevel > h3 {
    color: #FD0606;
    font-size: 20px;

}

.olevel > h4 {
    position: absolute;
    color: #877373;
    left: 130px;
    top: 30px;
}

#space-line {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #c28534;
    left: 200px;
}

.it > h3 {
    color: #FD0606;
    font-size: 20px;
    padding-left: 10px;

}

.it > h4 {
    position: absolute;
    color: #877373;
    left: 150px;
    top: 165px;
}

#space-line1 {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #c28534;
    left: 200px;
    top: 50px;
}

.se {
    position: absolute;
    top: 250px;
}

.se > h3 {
    color: #FD0606;
    font-size: 20px;

}

.se > h4 {
    position: absolute;
    color: #877373;
    left: 150px;
    top: 50px;
}

#space-line2 {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #c28534;
    left: 200px;
    top: 170px;
}

.se-dgree {
    position: absolute;
    top: 400px;
}

.se-dgree > h3 {
    color: #FD0606;
    font-size: 20px;
    padding-left: 80px;


}
.edu2:before{
    content: "01";
    position: absolute;
    right: 1000px;

}


.edu3:before{
    content: "02";
    position: absolute;
    right: 1000px;

}


.edu4:before{
    content: "03";
    position: absolute;
    right: 1000px;

}

.edu5:before{
    content: "04";
    position: absolute;
    right: 1000px;

}


.edu6:before{
    content: "05";
    position: absolute;
    right: 1000px;

}


.edu7:before{
    content: "06";
    position: absolute;
    right: 1000px;

}


.edu8:before{
    content: "07";
    position: absolute;
    right: 1000px;

}

.line-edu{
    position: relative;
    width: 3px;
    height: 370px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}

.line-cros{
    position: absolute;
    width: 700px;
    height: 3px;
    top: 400px;
    background-color: #ff8b00;
    left: 200px;
}


/*------------media queries-----------*/


@media all and (max-width: 700px) {
    .line-edu{
        position: relative;
        width: 3px;
        height: 180px;
        background-color: #ff8800;
        left: 20px;
        top: 50px;
    }


    .resume-item{
        position: absolute;
        top: 5px;
        left: 30px;
    }


    .resume-item >h4{
        color: #fff3cd;
        font-family: Apple ,sans-serif;
        font-size: 10px;
    }
    .resume-item > h5{
        color: #423839;
        font-size: 8px;
    }

    .line-cros{
        position: absolute;
        width: 250px;
        height: 3px;
        top: 230px;
        background-color: #ff8b00;
        left: 20px;
    }

    #zero{
        color: #595656;
        font-size: 12px;
    }

    #one{
        color: #DCFF03;
    }

    #three , #four ,#five{
        color: #0DFF16;
        font-size: 6px;
    }

    .edu2:before{
        content: "01";
        position: absolute;
        right: 325px;

    }


    .edu3:before{
        content: "02";
        position: absolute;
        right: 325px;

    }


    .edu4:before{
        content: "03";
        position: absolute;
        right: 325px;

    }

    .edu5:before{
        content: "04";
        position: absolute;
        right: 325px;

    }


    .edu6:before{
        content: "05";
        position: absolute;
        right: 325px;

    }


    .edu7:before{
        content: "06";
        position: absolute;
        right: 325px;

    }


    .edu8:before{
        content: "07";
        position: absolute;
        right: 325px;

    }

    /*----------------------*/

    .Educate-art{
        position: absolute;
        left: 50px;
    }

    .olevel > h3 {
        color: #FD0606;
        font-size: 12px;


    }

    .olevel > h4 {
        position: absolute;
        color: #877373;
        left: 100px;
        top: 30px;
        font-size: 10px;
    }

    #space-line {
        position: relative;
        width: 5px;
        height: 30px;
        background-color: #c28534;
        left: 150px;
    }

    .it > h3 {
        color: #FD0606;
        font-size: 12px;
        padding-left: 10px;

    }

    .it > h4 {
        position: absolute;
        color: #877373;
        left: 100px;
        top: 140px;
        font-size: 10px;
    }

    #space-line1 {
        position: relative;
        width: 5px;
        height: 30px;
        background-color: #c28534;
        left: 150px;
        top: 50px;
    }

    .se {
        position: absolute;
        top: 220px;
        left: 20px;
    }

    .se > h3 {
        color: #FD0606;
        font-size: 12px;

    }

    .se > h4 {
        position: absolute;
        color: #877373;
        left: 80px;
        top: 20px;
        font-size: 10px;
    }

    #space-line2 {
        position: relative;
        width: 5px;
        height: 30px;
        background-color: #c28534;
        left: 150px;
        top: 150px;
    }

    .se-dgree {
        position: absolute;
        top: 400px;
    }

    .se-dgree > h3 {
        color: #FD0606;
        font-size: 12px;
        padding-left: 80px;


    }



}

