.Gallery{
    background-color: #071115;
    position: relative;
    height: 100vh;
    width: 100%;
}


.circle03{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}

.line-gallery{
    position: relative;
    width: 3px;
    height: 763px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}

.des-gal{
    position: absolute;
    left: 215px;
    top: -7px;
}

.gal01{
    top: 10px;
    color: #877373;

}

#gallery-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}

.des-gal >h4{
    color: #fff3cd;
    font-family: Apple ,sans-serif;
    font-size: 20px;
}

#gal-one{
    color: #DCFF03;
}

#gal-two{
    color: #BA0AF8;
}

.box{
    top: -469px;
    left: 248px;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,#00ccff,#d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;

}

.box:hover::before{
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
       transform: rotate(360deg);
    }
}

.box::after{
    content: ' ';
    position: absolute;
    inset: 6px;
    background: #071115;
    border-radius: 50%;
    z-index: 1;
}


.imgContent{
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgContent img{
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}


.box:hover  .imgContent img{
    opacity: 0;
}


.imgContent h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


.imgContent h2 span{
    font-weight: 300;
    font-size: 0.75em;
}

.imgContent a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;

}


.line-cros-gal{
    position: absolute;
    width: 1440px;
    height: 3px;
    top: 802px;
    background-color: #ff8b00;
    left: 200px;
}



.gal02:before{
    content: "01";
    position: absolute;
    right: 256px;
}
.gal03:before{
    content: "02";
    position: absolute;
    right: 256px;
}
.gal04:before{
    content: "03";
    position: absolute;
    right: 256px;
}

.gal05:before{
    content: "04";
    position: absolute;
    right: 256px;
}


/*------------media queries-----------*/


@media all and (max-width: 767px) {
    .circle03{
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 64px;
        top: 20px;
    }

    .line-gallery{
        position: relative;
        width: 3px;
        height: 763px;
        background-color: #ff8800;
        left: 67px;
        top: 30px;
    }


    .des-gal{
        position: absolute;
        left: 73px;
        top: 10px;
    }

    .gal01{
        top: 10px;
        font-size: 10px;
        color: #877373;

    }

    #gallery-title{
        font-family: Apple ,sans-serif;
        color: #d7d1d1;
        font-size: 12px;
    }

    .des-gal >h4{
        color: #fff3cd;
        font-family: Apple ,sans-serif;
        font-size: 10px;
    }

    #gal-one{
        color: #DCFF03;
    }

    #gal-two{
        color: #BA0AF8;
    }

    .line-cros-gal{
        position: absolute;
        width: 309px;
        height: 3px;
        top: 802px;
        background-color: #ff8b00;
        left: 67px;
    }

    .gal02:before{
        content: "01";
        position: absolute;
        right: 165px;
    }
    .gal03:before{
        content: "02";
        position: absolute;
        right: 165px;
    }
    .gal04:before{
        content: "03";
        position: absolute;
        right: 165px;
    }

    .gal05:before{
        content: "04";
        position: absolute;
        right: 165px;
    }


}