/*
!*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*!
#home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-color: #071115;
}

.logo {
    top: 5px;
    position: absolute;
    color: #fff3cd;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    left: 50px;
}
.logo > span {
    color: #ff8800;
}


.social-links{
    position: absolute;
    !*    width: 100px;*!
    right: 100px;
    top: 50px;

}

.social-links .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}


.circle{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 200px;
    top: 50px;
}
.line{
    position: relative;
    width: 3px;
    height: 820px;
    background-color: #ff8800;
    left: 200px;
    top: 50px;
}

.line::after {
    content: "";
    position: absolute;

}

.content {
    top: 50px;
    width: 1000px;
    height: 10px;
    position: absolute;
    left: 50px;
}

.content >h1 {
    color: #fff3cd;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}

.content > h3 {
    color: #fff3cd;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    padding-left: 125px;

}
.content > h3 > span{
    color: #ff8600;
    font-family:  sans-serif;
    font-size: 40px;

}


.animated-text{
    font-size: 80px;
    font-weight: 600;
    min-width: 280px;
    color: #fff3cd;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color: #ff8600;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #071115;
    border-left: 2px solid #ff8600;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Frontend Developer";
    }
    21%,40%{
        content: "Designer";
    }
    41%,60%{
        content: "Ui / UX Designer";
    }
    61%,80%{
        content: "Thinker";
    }
    81%,100%{
        content: "Backend Developer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}



.content > h4{
    font-size: 20px;
    color: #fff3cd;
}

.content > .btn{
    top: 50px;
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    background: #be6009;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
}

.content > .btnTalk{
    top: 50px;
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    background: #be6009;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
}

.btn:hover{
    background: #f3a556;
    color: #fff3cd;
    box-shadow: 0 0 50px #3c00ff;
    transition-delay: 0.5s;
}


.btnTalk:hover{
    background: #f3a556;
    color: #fff3cd;
    box-shadow: 0 0 50px #3c00ff;
    transition-delay: 0.5s;
}

.social-links :hover{
    box-shadow: 0 0 50px rgba(191, 191, 222, 0.76);
    transition-delay: 0.5s;
}


@media all and (max-width: 700px) {
    .logo {
        position: absolute;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        left: 20px;
        top: 10px;
    }


    .social-links{
        position: absolute;
        !*    width: 100px;*!
        right: 1px;
        top: 20px;

    }

    .social-links .bx{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        color: #000000;
        background: #fff;
        margin-right: 15px;
        cursor: pointer;
    }


    .circle{
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 20px;
        top: 40px;
        font-size: 10px;
    }
    .line{
        position: relative;
        width: 3px;
        height: 680px;
        background-color: #ff8800;
        left: 20px;
        top: 30px;
    }

    .content {
        top: 20px;
        width: 320px;
        height: 10px;
        position: absolute;
        left: 20px;
    }

    .content >h1 {
        color: #fff3cd;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
    }

    .content > h3 {
        color: #fff3cd;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        padding-left: 30px;

    }
    .content > h3 > span{
        color: #ff8600;
        font-family:  sans-serif;
        font-size: 15px;

    }


    .animated-text{
        font-size: 25px;
        font-weight: 600;
        min-width: 280px;
        color: #fff3cd;
    }


    .content > h4{
        font-size: 10px;
        color: #fff3cd;

    }

    .content > .btn{
        top: 10px;
        left: 50px;
        position: relative;
        padding: 5px 15px;
        margin: 0 10px;
        background: #be6009;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 10px;
        transition: 0.5s;
    }

    .content > .btnTalk{
        top: 20px;
        left: 80px;
        position: relative;
        padding: 5px 10px;
        margin: 0 15px;
        background: #be6009;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 10px;
        transition: 0.5s;
    }

}

!*---------------------------------------------------------------
            Animation backGround
                        ------------------------------------- *!

#particles-js{
    position: absolute;
    height: 100%;
    background: #071115;
}*/
