.projects{
    background-color: #071115;
    position: relative;
    width: 100%;
    height: 100vh;
}

.circle01{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}
.line-project{
    position: relative;
    width: 3px;
    height: 920px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}

.des-proj{
    position: absolute;
    top: 12px;
    left: 215px;
}

.proj1{
    color: #877373;
    font-size: 13px;
    margin-top: 5px;
}

#projrct-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}

.des-proj > h3{
    color: #0DFF16;
    left: 80px;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 20px;
}


/* -----------card ---------------------*/


/*----<<<<<<<<<   mobile version >>>>>>>>>>-------*/

@media all and (max-width: 767px) {
    .circle01 {
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 64px;
        top: -53px;
    }

    .line-project {
        position: relative;
        width: 3px;
        height: 920px;
        background-color: #ff8800;
        left: 67px;
        top: -38px;
    }

}