.projects{
    background-color: #071115;
    position: relative;
    width: 100%;
    height: 200vh;
}

.circle01{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}
.line-project{
    position: relative;
    width: 3px;
    height: 920px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}

.des-proj{
    position: absolute;
    top: 12px;
    left: 215px;
}

.proj1{
    color: #877373;
    font-size: 13px;
    margin-top: 5px;
}

#projrct-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}

.des-proj > h3{
    color: #0DFF16;
    left: 80px;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 20px;
}


.des-proj #standalone{
    font-family: Apple ,sans-serif;
    font-size: 120px;
    color: #424242;
    margin-left: 1150px;
}

.des-proj #web{
    font-family: Apple ,sans-serif;
    font-size: 120px;
    color: #424242;
    margin-top: 226px;
    margin-right: 20px;

}

/* -----------card  0---------------------*/

.containerP{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.containerP .cardP{
    position: relative;
    width: 348px;
    height: 235px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: -760px;
    left: 75px;
}

.containerP .cardP .contentP {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}


.containerP .cardP:hover .contentP {
    transform: translateY(0px);
    opacity: 1;
}


.containerP .cardP .contentP  h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.containerP .cardP .contentP  h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.containerP .cardP .contentP  p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.containerP .cardP .contentP  a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #0000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/*---------card 1 --------*/
.containerP .cardP1{
    position: relative;
    width: 348px;
    height: 235px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: -613px;
    left: 133px;
}


.containerP .cardP1 .contentP {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}


.containerP .cardP1:hover .contentP {
    transform: translateY(0px);
    opacity: 1;
}


.containerP .cardP1 .contentP  h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.containerP .cardP1 .contentP  h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.containerP .cardP1 .contentP  p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.containerP .cardP1 .contentP  a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #0000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}


/*---------card 2 --------*/
.containerP .cardP2{
    position: relative;
    width: 348px;
    height: 235px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: -677px;
    left: 268px;
}


.containerP .cardP2 .contentP {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}


.containerP .cardP2:hover .contentP {
    transform: translateY(0px);
    opacity: 1;
}


.containerP .cardP2 .contentP  h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.containerP .cardP2 .contentP  h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.containerP .cardP2 .contentP  p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.containerP .cardP2 .contentP  a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #0000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/*---------card 3 --------*/
.containerP .cardP3{
    position: relative;
    width: 348px;
    height: 235px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: -764px;
    left: 1310px;
}


.containerP .cardP3 .contentP {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}


.containerP .cardP3:hover .contentP {
    transform: translateY(0px);
    opacity: 1;
}


.containerP .cardP3 .contentP  h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.containerP .cardP3 .contentP  h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.containerP .cardP3 .contentP  p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.containerP .cardP3 .contentP  a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #0000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
/*---------card 4 --------*/
.containerP .cardP4{
    position: relative;
    width: 348px;
    height: 235px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: -500px;
    right: 444px;
}


.containerP .cardP4 .contentP {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}


.containerP .cardP4:hover .contentP {
    transform: translateY(0px);
    opacity: 1;
}


.containerP .cardP4 .contentP  h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.containerP .cardP4 .contentP  h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.containerP .cardP4 .contentP  p{
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.containerP .cardP4 .contentP  a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #0000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/*----<<<<<<<<<   mobile version >>>>>>>>>>-------*/

@media all and (max-width: 767px) {
    .circle01 {
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 64px;
        top: -53px;
    }

    .line-project {
        position: relative;
        width: 3px;
        height: 920px;
        background-color: #ff8800;
        left: 67px;
        top: -38px;
    }

}