.services{
    background-color: #071115;
    position: relative;
    height: 100vh;
    width: 100%;
}

.circle05{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 196px;
    top: 20px;
}

.line-servi{
    position: relative;
    width: 3px;
    height: 413px;
    background-color: #ff8800;
    left: 200px;
    top: 30px;
}

.des-servi{
    position: absolute;
    left: 204px;
    top: 5px;

}
.ser01{
    top: 10px;
    color: #877373;

}

#ser-title{
    font-family: Apple ,sans-serif;
    color: #d7d1d1;
    font-size: 20px;
}

.des-servi >h4{
    color: #fff3cd;
    font-family: Apple ,sans-serif;
    font-size: 20px;
}

#ser-one{
    color: #DCFF03;
}

#ser-two{
    color: #BA0AF8;
}
#ser-three,#ser-four ,#ser-five{
    color: #0DFF16;
}


.line-cros-ser{
    position: absolute;
    width: 1440px;
    height: 3px;
    top: 450px;
    background-color: #ff8b00;
    left: 200px;
}

.cros-ser-sf{
    position: relative;
    width: 3px;
    height: 28px;
    background-color: #ff8b00;
    left: 550px;
    top: 56px;
}

.cros-ser-ec{
    position: relative;
    width: 3px;
    height: 28px;
    background-color: #ff8b00;
    left: 1000px;
    top: 27px;
}


.cros-ser-mob{
    position: relative;
    width: 3px;
    height: 28px;
    background-color: #ff8b00;
    left: 1400px;
    top: -1px;
}


.ser02:before{
    content: "01";
    position: absolute;
    right: 318px;

}
.ser03:before{
    content: "02";
    position: absolute;
    right: 318px;

}
.ser04:before{
    content: "03";
    position: absolute;
    right: 318px;

}
.ser05:before{
    content: "04";
    position: absolute;
    right: 318px;

}
.ser06:before{
    content: "05";
    position: absolute;
    right: 318px;

}
.ser07:before{
    content: "06";
    position: absolute;
    right: 318px;

}
.ser08:before{
    content: "07";
    position: absolute;
    right: 318px;

}

/* -----------card ---------------------*/
.service-content {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 8em;

}

.col1 {
    background: #031c25;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70/7%);
    border-radius: 12px;
    padding: 15px 15px 15px 15px;
    transition: ease .45s;
    cursor: pointer;
}

.s img {
    height: 70px;
    width: 70px;
    background: #D18582;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.s.se-one img {
    background: #92B5B7;
}

.s.se-two img {
    background: #D2CFA3;
}

.s.se-tree img {
    background: #DBCFF3;
}

.s.se-four img {
    background: #FEA755;
}

.col1 h3 {
    color: #0DFF16;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 19px;
}

.col1 p {
    font-size: 15px;
    color: #615858;
    line-height: 28px;
}

.col1 span {
    font-size: 32px;
}

.col1:hover {
    will-change: transform;
    transform: perspective(1000px) rotateX(10.23deg) rotateY(4.80deg) scale3d(1.05, 1.05, 1.05);
}

.col1:nth-child(1):hover {

    background: #91A5AE;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: .5s;
}

.col1:nth-child(1):hover .s.se-one img {
    background: white;
}

.col1:nth-child(1):hover #one-p {
    color: #ffffff;
    font-size: 20px;
}

.col1:nth-child(2):hover {
    background: #D1CFA8;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: .5s;

}

.col1:nth-child(2):hover .s.se-two img {
    background: white;
}

.col1:nth-child(2):hover #two-p {
    color: #ffffff;
    font-size: 20px;
}

.col1:nth-child(3):hover {
    background: #A98FE0;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: .5s;
}

.col1:nth-child(3):hover .s.se-tree img {
    background: white;
}

.col1:nth-child(3):hover #tree-p {
    color: #ffffff;
    font-size: 20px;
}

/*.col:nth-child(4):hover {
    background: #E2C39C;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: .5s;
}

.col:nth-child(4):hover .s.se-four img {
    background: white;
}

.col:nth-child(4):hover #four-p {
    color: #ffffff;
    font-size: 20px;
}*/

/*------------media queries-----------*/


@media all and (max-width: 700px) {
    .circle05{
        position: relative;
        background-color: #ff8800;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        margin-top: 50px;
        color: #fff3cd;
        left: 18px;
        top: 20px;
    }
    .line-servi{
        position: relative;
        width: 3px;
        height: 240px;
        background-color: #ff8800;
        left: 21px;
        top: 30px;
    }


    .line-cros-ser{
        position: absolute;
        width: 331px;
        height: 3px;
        top: 277px;
        background-color: #ff8b00;
        left: 24px;
    }


    .cros-ser-sf{
        position: relative;
        width: 3px;
        height: 28px;
        background-color: #ff8b00;
        left: 202px;
        top: 211px;
    }

    .cros-ser-ec{
        position: relative;
        width: 3px;
        height: 28px;
        background-color: #ff8b00;
        left: 202px;
        top: 16px;
    }


    .cros-ser-mob{
        position: relative;
        width: 3px;
        height: 28px;
        background-color: #ff8b00;
        left: 210px;
        top: 365px;
    }
    .des-servi{
        position: absolute;
        left: 32px;
        top: 5px;

    }

    .ser01{
        top: 10px;
        color: #877373;
        font-size: 10px;

    }

    .des-servi >h4{
        color: #fff3cd;
        font-family: Apple ,sans-serif;
        font-size: 10px;
    }



}
