.services{
    background-color: #317e9a;
    position: relative;
    height: 100vh;
    width: 100%;
}

.circle05{
    position: relative;
    background-color: #ff8800;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    margin-top: 50px;
    color: #fff3cd;
    left: 200px;
    top: 50px;
}