/*-----Loading first page ---*/
/*
@keyframes spinner {
    100% {
        transform: rotate(3600deg);
    }
}

.loading-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

.spinner {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url('http://i.imgur.com/oSHLAzp.png') center center;
    background-size: contain;
    transition-origin: 50% 50%;
    animation: spinner 3s infinite alternate ease-in-out;
}
.spinner-center {
    display: inline-block;
    position: absolute;
    margin-left: -150px;
    width: 150px;
    height: 150px;
    background: url('http://i.imgur.com/u0BC2ZR.png') center center;
    background-size: contain;
    content: '';
}

.loading-text {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 0.5em;
}
*/


/*-----------First page--- Top bar -------- */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.top-bar{
    height: 100vh;
    width: 100%;
    background-image: url("../image/wallpaper.png");
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 10%;
}
.social-icons{
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-left: 10%;
}

/*----- Logo set up ------*/
.logo:first-child>span{
    font-size: 30px;
    color: #472804;
}

.logo>span:last-child{
    font-size: 30px;
    color: #F28505;
}
.logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
    right: 510px;
}

/*---social media icon --*/
.social-icons{
    position: absolute;
    top: 5px;
    right: 50px;
}


.social-icons> img {
    margin-right: 35px;
}



/*---------Menu bar ---------*/
#menubar{
    width:100%;
    height:100vh;
    margin: 0;
    background-size: cover;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #0005;
    line-height: 50px;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}
nav ul li:hover{
    background-color: rgba(238, 87, 5, 0.97);
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}


/*-----------Footer 01--------------*/

#footer1{
    height: 300px;
    background-color: #07030c;
    position: relative;
}

#footer1 > aside >div >h3{
    position: absolute;
    display: inline-block;
    font-size: 1.9em;
    color: #2bf62b;
    margin: 0;
    top: 20px;
    left: 150px;
}

#footer1 > aside > div > img {
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 80px;
    left: 250px;
}


#footer1 > aside>div:last-child > img {
    position: relative;
    display: inline-block;
    margin: 0;
    top: 40px;
    left: 600px;

}

#footer1 > aside >div:last-child >h4{
    position: absolute;
    display: inline-block;
    font-size: 0.9em;
    color: #afa4a4;
    margin: 0;
    top: 100px;
    left: 600px;
}
/*-----Footer 02 ---*/
#footer2{
    height: 300px;
    background-color: #07030c;
    position: relative;
}

#footer2>aside:first-child{
    position: relative;
}

#footer2>aside>section:first-child{
    position: relative;
    display: inline-block;
    width: 420px;
    height: 100px;
    left: 175px;
    top: 40px;
}

#footer2 > aside > section:first-child > img {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

        /*Vishnuka yahan*/
#footer2> aside > section:first-child > h2 {
    position: absolute;
    display: inline-block;
    font-size: 1.9em;
    color: #2bf62b;
    margin: 0;
    top: 15px;
    left: 150px;
}

    /*Fullstack Developer*/
#footer2 > aside > section:first-child > h3 {
    position: absolute;
    display: inline-block;
    font-size: 1em;
    color: #b2c968;
    left: 150px;
    bottom: 15px;
    margin: 0;
}

#footer2 > aside > img {
    position: absolute;
    display: inline-block;
    font-size: 1em;
    left: 1300px;
    margin-right: 25px;
    top: 30px;
    width: 200px;
    height: 200px;
}

#footer2 > aside:last-child {
    position: absolute;
    display: flex;
    width: 99.5vw;
    align-content: center;
    justify-content: center;
    bottom: 5px;
}

#footer2 > aside:last-child > p,footer > aside:last-child > p > i {
    font-size: 0.6em;
    color: #c28534;
}

.social-icons-white{
    position: absolute;
    top: 160px;
    left: 325px;
}

.social-icons-white > img {
    margin-right: 25px;
}
