body {
    background: #071115;
   /* margin: 0;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 100%;
    position: absolute;*/
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 20px;

}

/*
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}


#check{
    display: none;
}*/


@media (max-width: 988px) {
    #header {
        width: 200px;
/*        background: #ffffff;
        border-right: 1px solid #ffffff;*/
        left: -300px;

    }
}

/*@media (min-width: 992px) {
    #main {
        margin-left: 100px;
    }
}*/

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.nav-menu {
    padding: 0;
    display: block;

}

.nav-menu * {
    margin: 0;
    top: 150px;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #ff8700;
    padding: 10px 10px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #01151c;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 26px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
}

@media (min-width: 992px) {

    .nav-menu a,
    .nav-menu a:focus {
        width: 27px;

    }

    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #fff;
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #ff6100;
    background: #071115;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #ff6100;

}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}

/**
* Mobile Navigation
*/
/*
.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.mobile-nav-toggle i {
    color: #45505b;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
    color: #ff8600;
    background-color: gray;
}

*/

section{
    border: #071115;
    right: 25px;
}